html,
body {
  background: #1b2931;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#drumpad {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.row {
  display: flex;
  flex: 1;
  margin: 0.1em;
  opacity: 0.5;
  flex-wrap: nowrap;
}

.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1px;
  font-size: 0.9em;
  color: white;
  background: #385260;
}
